<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'pixelhrapp\setup\pixelhr-logo.jpeg' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    

    <title>PixelHR - Leave Management</title>
</head>
<body class="bg-white text-gray-700">
    <!-- <div class="text-4xl text-center">PixelHR - Dashboard</div> -->

    <div class="grid grid-cols-7">
        <div class="border h-screen">
            
            <div class="flex py-2 mx-10"><img class="w-10 h-10" src="{% static 'pixelhrapp\setup\pixelhr-logo.jpeg' %}" alt="logo">
                <div class="text-xl font-bold pt-2">PixelHr</div>
            </div>

            <div class="mx-4 px-2">
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/dashboard"><i class="fa-solid fa-table mr-2"></i> Dashboard</a>
                </div>
                
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/leavemanage/?view=all"><i class="fa-solid fa-gear mr-2"></i> Leaves</a>
                </div>
                
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/attendencemanage">
                        <i class="fa-solid fa-user mr-2"></i> Attendence</a>
                </div>
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/reimbusmentmanage">
                        <i class="fa-solid fa-user mr-2"></i>Reimbusment</a>   
                </div>
                
                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white">
                    <a href="/hrbot">
                        <i class="fa-solid fa-robot mr-2"></i>Bot</a>   
                </div>


                <div class="text-xl border my-2 rounded-md px-2 p-2 hover:bg-indigo-600 hover:text-white"><i class="fa-solid fa-chart-simple mr-2"></i> Chart</div>
            </div>
        </div>


        <div class="col-span-6 border">
            
            <!-- nav bar -->
            <div class="border grid grid-cols-9 py-2">
                <div class="col-span-6 ml-10 font-bold text-2xl">Bot Management</div>
                <div class="col-span-2 mx-6 text-right text-xl">
                    <i class="fa-solid fa-bell border rounded-full p-2 hover:bg-indigo-700 hover:text-white"></i>
                    <i class="fa-solid fa-envelope border rounded-full p-2 hover:bg-indigo-700 hover:text-white"></i>
                </div>
                <div class="grid grid-cols-3">
                    
                    <div class="text-sm col-span-2 my-auto">{{ user.username|title }}
                        <b class="mx-10">HR</b>
                    </div>
                    <div><img class="w-10 h-10 rounded-full border border-2" 
                        src="{% static 'pixelhrapp\setup\boy avatar.png' %}" alt=""></div>
                </div>
            </div>

            <!-- Dashboard Area -->
            
            <div class="p-10 mb-20">
                <!-- bot chat -->
                <div class="p-2 border rounded-md w-8/12 my-4"><b><i class="fa-solid fa-user mr-2"></i>HrBot</b> : Hello {{ user.username|title }}</div>
                {% for item in chat_data %}
                
                
                <!-- hr-user chat -->
                <div class="p-2 border rounded-md ml-[420px] my-4 text-right w-8/12">{{item.query}} : <b>{{ user.username|title }}<i class="fa-solid fa-user ml-2"></i></b></div>
                
                <!-- bot chat -->
                <div class="p-2 border rounded-md w-8/12 my-4"><b><i class="fa-solid fa-user mr-2"></i>HrBot</b> : {{item.shortdesc}}</div>
                
                {% endfor %}
            </div>
            
            <!-- last_10_records -->
            <div class="">
                {% for item in last_10_records %}

                <div>item</div>

                {% endfor %}

            </div>


            <form class=" mx-10" action="{% url 'chatinput' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="text" name="user_name" value="{{ user.username }}">
                
                <div class="grid grid-cols-7">
                    <!-- <label for="name">Name:</label> -->
                    <input class="bg-white border border-2 text-gray-700 w-full col-span-6" type="text" id="name" name="name">
                    <button class="mx-2 text-xl text-center bg-indigo-500 text-white border rounded-md" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>

 

    

</body>
</html>